.orders-title {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 34px;
    font-size: 24px;

    @media (min-width: 460px) {
        margin-bottom: 40px;
        font-size: 28px;
      }

      @media (min-width: 768px) {
        margin-bottom: 52px;
        font-size: 34px;
      }
}
.orders-title_text {
    font-weight: 700;
}

.orders-title  img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    font-style: normal;
    line-height: 1.15;
    
    // margin-bottom: 52px;
    
}