@charset "UTF-8";
.order_li {
    background-color: rgb(255, 255, 255);
}

.order_li_top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.order_li_top_title {
    font-size: 22px;
    color: $orange;
    font-weight: 700;

    @media (min-width: 760px) {
      font-size: 26px;
    }
}

.order_li_top_band {
    width: 100%;
    height: 1px;
    margin: 0 8px;
    background-color: #9e9d9d;
}

.order_li_top_button {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    white-space: nowrap;
    border: 1px solid $orange;
    cursor: pointer;
    -webkit-transition: all .23s;
    transition: all .23s;

}
.order_li_top_button:hover {
    color: #fff;
    background-color: $orange;
}

.order_block {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 0 22px 18px!important;
}

.slides {
    // background-color: #e80e0e;
    min-height: 300px; /* Задайте висоту, яка вам потрібна */
      
    .slick-next:before{
        color: rgb(88, 88, 88);
    }
    .slick-prev:before{
        color: rgb(88, 88, 88);
    }
}

