$font: 'TWKEverett-Bold';
$font2: 'TWKEverett-Regular';
$black: #000;
$white: #fff;
$red: #c23e2a;
$grey: #8da9a9;
$greyText: #a6acb2;
$inputColor: #434546;
$transition: all 0.3s ease-in-out;
$orange: #f7922c;
$greenLight: #43b581e6;
