

body {
  // font-family: 'AvenirNext LT Pro' bold;
  font-family: 'Avenir', sans-serif;
  // -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}

// main {
//   margin: 0, 40px;
// }
