.rolls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.rollItem {
    min-width: 240px;
    padding: 20px;
    flex-basis: calc(25% - 40px);
    flex-wrap: wrap;
}