.product {
    background-color: rgb(132, 132, 132);
    min-height: 650px;

}
.bone {
    // width: auto;
    margin: 0 80px;
    background-color: rgb(245, 198, 198);
}

.product-top {
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    // -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
    //  width: 50%;
}

.product-img {
   
    padding: 20px;
    box-shadow: 0 5px 30px #00000012;
}

.product-right {
    background-color: rgb(216, 227, 228);
    width: 50px;
}