.header {
  background-color: #000000;
}

.header.container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 80px;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    height: 100px;
  }
}
.header-logo {
  font-size: 58px;
  width: 50%;
}

.header-menu {
  display: flex;
  flex-direction: row;
  font-size: 38px;
  align-items: center;
}

.header-menu_image {
  img {
    width: 20px;
    height: 20px;
  }
}

.header-menu_text {
  
  font-size: 15px;
  margin-top: 5px;
  padding-left: 5px;
  font-style: inherit;
  align-items: center;
}

.header-cart {
  img {
    width: 30px;
    height: 30px;
  }
}

.header-burger {
font-size: 30px;
}


